*{
	box-sizing:border-box;
}
#container{
	width:500px;
	height:600px;
	background:transparent;
	margin :0 auto;
	font-size:0;
	border-radius:px;
	overflow:hidden;
}

main{
	width:500px;
	height:500px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

main header{
	height:1px;
	padding:10px 1px 50px 180px;
}
main header > *{
	display:inline-block;
	vertical-align:top;
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:410px;
	border-top:10px solid #fff;
	border-bottom:2px solid #fff;
}
#chat li{
	padding:1px 30px;
}
#chat h2{
	display:inline-block;
	font-size:16px;
	font-weight:normal;
}
#chat h3{
	display:inline-block;
	font-size:10px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .message{
	padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
}
#chat .me{
	text-align:right;
}
#chat .you .message{
	background-color:#58b666;
}
#chat .me .message{
	background-color:#6fbced;
}