*{
	box-sizing:border-box;
}
#container{
	width:500px;
	height:520px;
	background:transparent;
	margin :0 auto;
	margin-bottom: 50px;
	font-size:0;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	overflow:hidden;
	border:2px solid white;
	padding-left: 0px;
}

main{
	width:500px;
	height:500px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

main header{
	color:white;
	height:1px;
	padding:10px 1px 50px 150px;
}
main header > *{
	display:inline-block;
	vertical-align:top;
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:410px;
	border-top:2px solid white;
	border-bottom:2px solid white;
}
#chat li{
	padding:1px 30px;
}
#chat h2{
	display:inline-block;
	position: relative;
	left:10px;
	font-size:16px;
	font-weight:bold;
	color:white;
}
#chat h3{
	display:inline-block;
	font-size:10px;
	font-weight:bold;
}
#chat h3{
	color:gray;
}
#chat .message{
	padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
}
#chat .me{
	text-align:right;
}
#chat .you{
	text-align:left;
}
#chat .you .message{
	font-weight:bold;
	color:black;
	background-color:white;
	border-radius:10px;

}
#chat .me .message{
	font-weight:bold;
	color:black;
	background-color:white;
	border-radius:10px;
}
@media only screen and (max-width: 390px) {
    #container {
        width: 273px;
		height: 500px;
		position: relative;
		left: 50px;
    }
	main header{
		padding:10px 205px 50px 150px;
	}
	#chat{
		height:391px;
		width: 273px;
	}
	#chat .message{
		line-height:0px;
	}
}
