<!DOCTYPE html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    {% block title %}
    {% endblock %}

</head>

<body>
    <div class="p-5 bg-primary text-white text-center">
        <h1>Chat2Do</h1>
        <p>Check Out Your Todos And Join The ChatRoom</p> 
    </div>
    {% block contant %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>