<!DOCTYPE html>

<body>
    <div id="container">
        <aside>
            <ul>
                <li>
                    {% for item in text_in_private %}
                    <div>
                        <h2>item.email</h2>
                        <h3>
                            <span class="status orange"></span>
                            offline
                        </h3>
                    </div>
                    {% endfor %}
                </li>
            </ul>
        </aside>
    </div> 
</body>

</html>