<style>
    body {
  background-image: url("/static/chat\ background.jpg");
}
</style>

{% extends "base.html" %}

{% block contant %}
    <div class="container text-center">
        {% include 'navbar.html' %}
        <br>
        <div class="icon">
            <h2 class="logo">CHATROOM</h2>
        </div>
        <br>
        <div class="menu">
            <ul>
                <br>
                <a class="btn btn-primary" href="/groupchat">GROUP</a>
                <br><br><br>
                <a class="btn btn-primary" href="/users">PRIVATE</a>
            </ul>
        </div>
    </div>
{% endblock %}
