{% extends 'base.html' %}

{% block title %}
	<title>Create Todo</title>
{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="text-center">Create a Todo</h1>
		{% for row in row %}
  			{{ row }}
		{% endfor %}
		<form method="POST">
		  <div class="mb-3">
		    <label for="title" class="form-label">Todo Title</label>
		    <input type="text" class="form-control" required name="title" placeholder="enter title">
		 </div>
		 <div class="mb-3">
    		<label for="description" class="form-label">Todo Description</label>
    		<textarea class="form-control" required name="description" placeholder="Enter todo description"></textarea>
			<div class="form-text">Describe all details about todos</div>
  		</div>
  			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
{% endblock %}