{% extends "base.html" %}
{% block contant %}
    <div class="container text-center">
        {% include 'navbar2.html' %}
        {% if msg %}
            <div class="alert alert-success" role="alert">
                {{msg}}
            </div>
        {% endif %}
        <h1>Create Todo Here</h1>
        {% for error in errors %}
			<div class="alert alert-danger" role="alert">
				{{ error }}
			</div>
        {% endfor %}
        <form  method="POST">
            <div class="mb-3">
                <label for="tittle" class="form-label">Todo Tittle</label>
		    	<input type="text" class="form-control" required name="tittle" placeholder="Enter tittle">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Todo Description</label>
    			<textarea class="form-control" required name="description" placeholder="Enter todo description"></textarea>
				<div class="form-text">Describe all details about todos</div>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
{% endblock %}
