<style>
    body {
        background-image: url("/static/chat\ wall.jpg");
}
</style>
{% extends "base.html" %}

{% block contant %}
<div class="container text-center">
    <h1>Add User in {{groupname}}</h1>
    <form method="POST">
        <div class="mb-3">
            {% for item in users_in_db %}
            <form method="POST">
                <div class="mb-3">
                    <input type="hidden" required name="groupname" value="{{groupname}}" >
                    <input type="hidden" required name="member" value="{{item.username}}" >
                </div>
                <button type="submit" style="border:2px solid black;background-color: white;text-align: center;color: black;font-weight: bold;font-size: medium;"class="btn btn-primary">{{item.username}}</button>
            </form>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}