<style>
    body {
        background-image: url("/static/chat\ wall.jpg");
}
#Todo{
    background-color: white;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 70px;
    margin-bottom: 20px;
    border-radius: 20px;
}
#Todo h3{
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 20px;
    border-bottom: 2px solid black;
    border-radius: 10px;
}
#Todo li{
    font-size: large;
    font-weight: bold;
    position: relative;
    left: 25px;
}
#Todo ul{
    position: relative;
    left: 25px;
}
#New{
    background-color: white;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 70px;
    margin-bottom: 20px;
    border-radius: 20px;

}
#New h3{
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 20px;
    border-bottom: 2px solid black;
    border-radius: 10px;
}
#New li{
    font-size: large;
    font-weight: bold;
    position: relative;
    left: 25px;
}
#New ul{
    position: relative;
    left: 25px;
}
</style>

{% extends "base.html" %}

{% block contant %}
{% include 'navbar.html' %}
<div class="container-fluid">
    <div class="row justify-content-center" id="banner">
        <div class="col-md-4 " id="Todo">
            <h3>TODO</h3>
            {% for item in todos_in_db %}
            <li>{{item.tittle}}</li>
            <ul>{{item.description}}</ul>
            {% endfor %}
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-4 " id="New">
            <h3>New Messages</h3>
            {% for item in text_in_private %}
            <li>{{item.by}}</li>
            <ul>{{item.message}}</ul>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

