{% extends "base.html" %}

{% block contant %}
<div class="container text-center">
    {% if msg %}
        <div class="alert alert-success" role="alert">
            {{msg}}
        </div>
    {% endif %}
    <h1>Login Here</h1>
        {% for error in errors %}
			<div class="alert alert-danger" role="alert">
				{{ error }}
			</div>
		{% endfor %}
    <form method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Email address</label>
            <input type="email" required class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter Your Email Here">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" required class="form-control" name="password" placeholder="Enter Your Password Here">
        </div>
        <button type="submit" class="btn btn-primary">LOGIN</button>
        <p class="link">Don't have an account<br>
        <a href="/signup">SIGNUP</a> here</a></p>
    </form>
</div>
{% endblock %}