<style>
    body {
        background-image: url("/static/chat\ wall.jpg");
}

.login-form{
    width: 250px;
    height: 400px;
    margin-top: 30px;
    margin-left: 39%;
    border-radius: 10px;
    padding: 25px;
    border: 2px solid black;
    background-color: white;
}
    
.login-form h1{
    width: 200px;
    font-family: sans-serif;
    text-align: center;
    color: black;
    font-size: 30px;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    border-bottom: 1px solid black;
}

.login-form input{
    width: 200px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid black;
    color: rgb(255, 255, 255);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 50px;
    font-family: sans-serif;
}
@media screen and (max-width: 765px)
{
    .login-form{
        margin-top: 50px;
        margin-left: 15%;
    }
}
 
</style>

{% extends "base.html" %}

{% block contant %}
<div class="container text-center">
    {% if msg %}
        <div class="alert alert-success" role="alert">
            {{msg}}
        </div>
    {% endif %}
    {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}
    <form method="POST" class="login-form">
        <h1>Login Here</h1>
        <div class="mb-3">
            <input type="email" required class="form-control" name="username" aria-describedby="emailHelp" placeholder="Email">
            <input type="password" required class="form-control" name="password" placeholder="Password ">
        </div>
        <br>
        <button type="submit" style="border:2px solid black;background-color: white;border-radius: 2px;width: 150px;text-align: center;color: black;font-weight: bold;font-size: large;"class="btn btn-primary">LOGIN</button>
        <br>
        <p class="link">Don't have an account<br>
        <a href="/signup">SIGNUP</a> here</a></p>
    </form>
</div>
{% endblock %}