<style>
    body {
		background-image: url("/static/chat\ wall.jpg");
}
.form textarea {
	border: 2px solid black;
	border-radius: 0px;
	width: 400px;
	height: 45px;
}
.form button {
	background-color: white;
	font-weight: bold;
	color: black;
	border: 2px solid black;
	margin-top: -60px;
	margin-left: 420px;
}
</style>

{% extends "base.html" %}

{% block title %}
<title>Chat</title>
<link rel="stylesheet" href="/static/chat.css">
{% endblock %}

{% block contant %}
{% include 'navbar.html' %}

<div class="container text-center">
</div>
<br>
<div id="container">
	<main>
		<header>
			<div>
				{% for item in is_for %}
					<h2>{{item.reciver}}</h2>
				{% endfor %}
			</div>
		</header>
		<ul id="chat">
			{% for item in zxc %}
			{% if item.by == username %}
				<li class="me">
					<div class="message">
						{{item.message}}
					</div>
					<div class="entete">
						<h3>{{item.created_at}}</h3>
					</div>
				</li>
			{% endif %}
			{% if item.by != username %}
				<li class="you">
					<div class="message">
						{{item.message}}
					</div>
					<div class="entete">
						<h3>{{item.created_at}}</h3>
					</div>
				</li>
			{% endif %}
			{% endfor %}
		</ul>
		<form  method="POST" class="form">
			<div class="mb-3">
				<input type="hidden" required name="to" value="{{to}}">
				<textarea class="form-control" required name="message" placeholder="Enter the text"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Send</button>
		</form>
	</main>
</div>
{% endblock %}