<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="/static/chat.css">
</head>
<body>
	<div id="container">
		<main>
			<header>
				<div>
					<h2>CHAT ROOM</h2>
				</div>
			</header>
			<ul id="chat">
				<li class="you">
					{% for item in messages_in_group %}
						<div class="entete">
							<span class="status green"></span>
							<h3>{{item.by}}</h3>
						</div>
						<div class="triangle"></div>
						<div class="message">
							{{item.message}}
						</div>
					{% endfor %}
				</li>
				<li class="me">
					{% for item in my_messages %}
						<div class="triangle"></div>
						<div class="message">
							{{item.message}}
						</div>
					{% endfor %}
				</li>
			</ul>
			<form  method="POST">
				<div class="mb-3">
					<label for="message" class="form-label">Text</label>
					<textarea class="form-control" required name="message" placeholder="Enter the text"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Send</button>
			</form>
		</main>
	</div>
</body>
</html>
