<!DOCTYPE html>
<html lang="en">
<head>
    <title>chat</title>
    <link rel="stylesheet" href="/static/chat.css">
</head>
<body>
	<div id="container">
		<main>
			<header>
				<div>
					<h2>CHAT ROOM</h2>
				</div>
			</header>
			<ul id="chat">
				<li class="you">
					{% for item in text_in_private %}
						<div class="entete">
							<span class="status green"></span>
							<h3>{{item.by}}</h3>
						</div>
						<div class="triangle"></div>
						<div class="message">
							{{item.message}}
						</div>
					{% endfor %}
				</li>
				<li class="me">
					{% for item in text_by_in_private %}
						<div class="entete">
							<span class="status green"></span>
							<h3>{{item.to}}</h3>
						</div>
						<div class="triangle"></div>
						<div class="message">
							{{item.message}}
						</div>
					{% endfor %}
				</li>
			</ul>
			<footer>
				<textarea placeholder="Type your message"></textarea>
				<a href="#">Send</a>
			</footer>
		</main>
	</div>
</body>
</html>