{% extends "base.html" %}
{% block contant %}
    <div class="container text-center">
      {% include 'navbar2.html' %}
        <h1>See Your Private Chat Here</h1>
        <div class="row">
            {% for item in text_in_private %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{item.message}}</h5>
                    <p class="card-text">{{item.by}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div> 
            {% endfor %}
        </div> 
    </div>
{% endblock %}