{% extends "base.html" %}
{% block contant %}
    <div class="container text-center">
        {% include 'navbar2.html' %}
        <h1>See Todos Here</h1>
        <form  method="POST">
            <div class="mb-3">
                <label for="id" class="form-label">Todo id</label>
		    	<input type="text" class="form-control" required name="id" placeholder="Enter todo id which is completed">
            </div>
            <button type="submit" class="btn btn-primary">Completed</button>
        </form>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Todo ID</th>
                <th scope="col">Tittle</th>
                <th scope="col">Description</th>
                <th scope="col">status</th>
              </tr>
            </thead>
            <tbody>
                {% for item in todos_in_db %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{item.tittle}}</td>
                    <td>{{item.description}}</td>
                    <td><button type="submit" class="btn btn-success">In Progress</button></td>
                </tr>   
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
