<style>
  body {
    background-image: url("/static/chat\ wall.jpg");
}
.table {
  position: relative;
  width: auto;
  background-color: white;
  color: white;
}
.todo {
  color: white;
}
</style>

{% extends "base.html" %}
{% block contant %}
{% include 'navbar.html' %}

    <div class="container text-center">
        {% if msg %}
            <div class="alert alert-success" role="alert" >
                {{msg}}
            </div>
        {% endif %}
        <br>
        <h1 class="todo">Todo</h1>
        <br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Tittle</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for item in todos_in_db %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{item.tittle}}</td>
                    <td>{{item.description}}</td>
                    <td>
                      <form  method="POST">
                        <div class="mb-3">
                          <input type="hidden" required name="id" value="{{ item.id }}" >
                        </div>
                        <button type="submit" style="border:2px solid black;background-color: white;border-radius: 2px;width: 150px;text-align: center;color: black;font-weight: bold;font-size: large;"class="btn btn-primary">Completed</button>
                      </form>
                    </td>
                </tr>   
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}