{% extends "base.html" %}

{% block contant %}
    <div class="container text-center">
        {% include 'navbar2.html' %}
        <br>
        <div class="icon">
            <h2 class="logo">TODO</h2>
        </div>
        <br>
        <div class="menu">
            <ul>
                <a class="btn btn-primary" href="/creatatodo">Create</a>
                <br>
                <br>
                <a class="btn btn-primary" href="/seetodos">List</a>
            </ul>
        </div>
    </div>
{% endblock %}