<style>
    body {
        background-image: url("/static/chat\ wall.jpg");
}
.user {
    color: white;
}
</style>

{% extends "base.html" %}

{% block contant %}
{% include 'navbar.html' %}

    <div class="container text-center">
        <br>
        <div class="icon">
            <h2 class="user">Users</h2>
            <br>
        </div>
        <div class="menu">
            <ul>
                {% for item in users_in_db %}
                <form method="POST">
                    <div class="mb-3">
                        <input type="hidden" required name="username" value="{{item.username}}" >
                    </div>
                    <button type="submit" style="border:2px solid black;background-color: white;border-radius: 2px;width: 150px;text-align: center;color: black;font-weight: bold;font-size: large;"class="btn btn-primary">{{item.username}}</button>
                </form>
                <br>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

